* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --cta-bg-color: #E6E6E6;
    --cta-button-color: #0C121C;
    --white-text-color: #FFFFFF;
}

body {
    font-family: var(--font-family);
}

/* Hero Section Styles */

.hero-section {
    position: relative;
}

.img-wrapper {
    height: 714px;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    display: block;
    transform: translateY(-28px);
    margin-top: -50px;
}

.hero-text {
    position: absolute;
    top: 50px;
    left: 45px;
}

.hero-text h1 {
    margin-bottom: 15px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 50px;
}

.hero-text p {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
}

.hero-cta {
    width: 100%;
    height: 120px;
    background-color: var(--cta-bg-color);
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-1, .cta-2, .cta-3, .cta-4 {
    width: 300px;
    height: 60px;
    background-color: var(--cta-button-color);
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--white-text-color);
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

