* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --cta-bg-color: #E6E6E6;
    --cta-button-color: #0C121C;
    --white-text-color: #FFFFFF;
    --versatility-head-bg-color: #000000;
    --versatility-main-content-bg-color: #6E7175;
}

body {
    font-family: var(--font-family);
    background-color: #FFFFFF;
}

/* Hero Section Styles */

.hero-section {
    position: relative;
}

.img-wrapper {
    height: 714px;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    display: block;
    transform: translateY(-28px);
    margin-top: -50px;
}

.hero-text {
    position: absolute;
    top: 50px;
    left: 45px;
}

.hero-text h1 {
    margin-bottom: 15px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 50px;
}

.hero-text p {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 20px;
}

.hero-cta {
    width: 100%;
    height: 120px;
    background-color: var(--cta-bg-color);
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-1, .cta-2, .cta-3, .cta-4 {
    width: 300px;
    height: 60px;
    background-color: var(--cta-button-color);
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--white-text-color);
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

/* Section Styles */

.section {
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 70px 50px;
}

.section-content-wrapper {
    align-items: center;
    justify-content: center;
}

.section-text-wrapper {
    text-align: center;
    color: var(--cta-button-color);
    font-size: 32px;
}

.section-details-wrapper {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 35px;
}

.section-details-1, .section-details-2, .section-details-3, .section-details-4 {
    width: 355px;
    text-align: center;
    font-weight: 600;
}

.title {
    font-size: 32px;
    margin-bottom: 15px;
}

/* Versatility Section Styles */

.versatility-head {
    height: auto;
    width: 100%;
    background-color: var(--versatility-head-bg-color);
    color: var(--white-text-color);
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
}

.versatility-main-content {
    height: auto;
    width: 100%;
    background-color: var(--versatility-main-content-bg-color);
    margin-top: 50px;
    margin-bottom: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
}

h3 {
    text-align: center;
    color: var(--white-text-color);
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 40px;
}

.ver-1-img-wrapper {
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ver-1-img-wrapper img {
    height: 100%;
    width: 95%;
    border-radius: 10px;
    display: block;
    border: 1px solid white;
    object-fit: cover;
}

#exterior {
    text-align: center;
    color: var(--white-text-color);
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.versatility-section-1 {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    /*border: white 1px solid;*/
    gap: 0px 35px
}

.ver-sec-1-left, .ver-sec-1-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}


.ver-sec-1-left-img-wrapper {
    height: 270px;
    width: 100%;
    /*overflow: hidden;*/
}

.ver-sec-1-left-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px;
}

.ver-sec-1-right-img-wrapper {
    height: 270px;
    width: 100%;
}

.ver-sec-1-right-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px;
}

.ver-sec-1-text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--white-text-color);
    font-size: 24px;
}

.ver-sec-1-desc {
    text-align: center;
    color: var(--white-text-color);
    font-size: 12px;
}

.versatility-section-2 {
    width: 95%;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    /*border: white 1px solid;*/
    gap: 0px 35px
}

.ver-sec-2-left, .ver-sec-2-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}


.ver-sec-2-left-img-wrapper {
    height: 270px;
    width: 100%;
    /*overflow: hidden;*/
}

.ver-sec-2-left-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px;
}

.ver-sec-2-right-img-wrapper {
    height: 270px;
    width: 100%;
}

.ver-sec-2-right-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px;
}

.ver-sec-2-text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--white-text-color);
    font-size: 24px;
}

.ver-sec-2-desc {
    text-align: center;
    color: var(--white-text-color);
    font-size: 12px;
}

.ver-3-img-wrapper {
    height: 310px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ver-3-img-wrapper img {
    height: 100%;
    width: 95%;
    border-radius: 10px;
    display: block;
    border: 1px solid white;
    object-fit: cover;
}

#interior {
    text-align: center;
    color: var(--white-text-color);
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.versatility-section-3 {
    width: 95%;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    /*border: white 1px solid;*/
    gap: 0px 35px
}

.ver-sec-3-left, .ver-sec-3-middle, .ver-sec-3-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}


.ver-sec-3-left-img-wrapper {
    height: 270px;
    width: 100%;
    /*overflow: hidden;*/
}

.ver-sec-3-left-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px;
}

.ver-sec-3-middle-img-wrapper {
    height: 270px;
    width: 100%;
}

.ver-sec-3-middle-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px;
}

.ver-sec-3-right-img-wrapper {
    height: 270px;
    width: 100%;
}

.ver-sec-3-right-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px;
}

.ver-sec-3-text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--white-text-color);
    font-size: 24px;
}

.ver-sec-3-desc {
    text-align: center;
    color: var(--white-text-color);
    font-size: 12px;
}

.versatility-section-4 {
    width: 95%;
    height: auto;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    /*border: white 1px solid;*/
    gap: 0px 35px
}

.ver-sec-4-left, .ver-sec-4-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
}

.ver-sec-4-left-img-wrapper {
    height: 270px;
    width: 100%;
    /*overflow: hidden;*/
}

.ver-sec-4-left-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px;
}

.ver-sec-4-right-img-wrapper {
    height: 270px;
    width: 100%;
}

.ver-sec-4-right-img-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px;
}

.ver-sec-4-text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--white-text-color);
    font-size: 24px;
}

.ver-sec-4-desc {
    text-align: center;
    color: var(--white-text-color);
    font-size: 12px;
}

/* View Inventory CTA Styles */

.view-inventory-cta-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--cta-bg-color);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 80px;

}

.view-inventory-cta-button {
    width: 300px;
    height: 60px;
    background-color: var(--cta-button-color);
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--white-text-color);
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

/* Capability Section Styles */

.capability-head {
    height: auto;
    width: 100%;
    background-color: var(--versatility-head-bg-color);
    color: var(--white-text-color);
    text-align: center;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    margin-bottom: 50px;
}

#capability-header-text {
    text-align: center;
    color: var(--cta-button-color);
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 50px;
}

